body {
    font-family: sans-serif;
    color: #474F40;
    margin: 0px;
    padding: 3% 25% 15% 25%;
}
a[href] {
    color: #6495ED;
}

h1 a + a,
h2 a + a,
h3 a + a,
h4 a + a,
h5 a + a {
    margin-left: 0.5em;
}