body {
    font-family: sans-serif;
    color: #474F40;
    margin: 0px;
    padding: 3% 25% 15% 25%;
}
a[href] {
    color: #6495ED;
}
code, pre {
    font-size: 1.25em;
}
h1 {
    margin-bottom: 1.25em;
}
h3 {
    margin-top: 2em;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0.25em;
}